body {
    margin: 0;
    padding: 0;
    font-family: poppins, sans-serif;
}
.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(Images/Background\ image\ 3.0.jpg);
    background-position: center;
    background-size: cover;
    position: relative;

}
nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img {
    width: 150px;
}
.nav-links {
    flex: 1;
    text-align : right;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after {
    content: '';
    width: 0px;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s
}
.nav-links ul li:hover::after {
    width: 100%;
}
.text-box {
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1 {
    font-size: 62px;
}
.text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: white;
}
.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover {
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}
@media (max-width: 700px){
    .text-box h1 {
        font-size: 20px;
    }
    .nav-links ul li {
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
    }
}

.course {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1 {
    font-size: 36px;
    font-weight: 600;
}
p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;

}
.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;

}
.course-col {
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.course-col:hover {
    box-shadow: grey 0px 0px 20px;
}
.campus {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.campus-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.campus-col img {
    width: 100%; 
    height: 530px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
}
.campus-col a {
    text-decoration: none;
    color: inherit;
    display: block;
}
.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;

}
.layer:hover {
    background: rgba(226,0,0,0.7);
}
.layer h3 {
    width: 100%;
    font-weight: 500;
    color: white;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;

}
.layer:hover h3 {
    bottom: 49%;
    opacity: 1;
}
.Facilities {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.Facilities-col {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.Facilities-col img {
    width: 100%;
    border-radius: 10px;
    height: 350px;
}
.Facilities-col p {
    padding: 0;
}
.Facilities-col h3 {
   margin-top: 16px;
   margin-bottom: 15px;
   text-align: left;
}
.Cta {
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(Images/Customer\ Support.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.Cta h1 {
    color: white;
    margin-bottom: 40px;
    padding: 0;
}
.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;

}
.Icons {
    margin-top: 20px;
}

.Icons a {
    color: #777;
    font-size: 20px;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s;
}

.Icons a:hover {
    color: #f44336; 
}
.sub-header {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(Images/About\ Us.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
}
.event {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(Images/Event\ Details.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
}    
.land {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(Images/Land.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
}
.part {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(Images/Performers.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
}
.sub-header h1 {
    margin-top: 100px;
}
.event h1 {
    margin-top: 100px;
}
.land h1 {
    margin-top: 100px;
}
.part h1 {
    margin-top: 100px;
}
.about-us {
    width: 80%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
.about-col {
    flex-basis: 48%;
    padding: 30px 2px;
}
.about-col img {
    width: 100%;
}
.about-col h1 {
    padding-top: 0;
}
.about-col p {
    padding: 15px 0 25px;
}
.red-btn {
    border: 1px solid #f44336;
    background: transparent;
    color: #f44336;
}
.red-btn:hover {
    color: white;
}
.container {
    position: relative;
    max-width: 700px;
    width: 100%;
    padding: 20px;
}
.container header {
    font-size: 1.5rem;
    color: #333;
    font-weight: 500;
    text-align: center;
}
.container .form {
    margin-top: 30px;
}
.form .input-box {
    width: 100%;
    margin-top: 20px;
}
.input-box label {
    color: #333;

}
.form :where(.input-box input, .select-box) {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}
.input-box input:focus {
    box-shadow: 0 1px 0 rgba(0,0,0,0.1);
}
.form .column {
    display: flex;
    column-gap: 45px;
}
.form .gender-box {
    margin-top: 20px;
}
.gender-box h3 {
    color: #333;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 8px;
    text-align: left;
}
.form :where(.gender-option, .gender) {
    display: flex;
    align-items: center;
    column-gap: 50px;
    flex-wrap: wrap;
}
.form .gender {
    column-gap: 5px;
}
.gender input {
    accent-color: rgb(130, 106, 251);;
}
.form :where(.gender input .gender label) {
    cursor: pointer;
}
.gender label {
    color: #707070;
}
.address :where(input .select-box) {
    margin-top: 15px;
}
.select-box select {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    color: #707070;
    font-size: 1rem;
}
.form button {
    height: 55px;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    border: none;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 6px;
    font-weight: 400;
    transition: all 0.2s ease;
    background-color: rgb(130, 106, 251);
}
.form button:hover {
    background-color: rgb(88, 56, 250);

}


/* Responsive */
@media (max-width: 500px) {
    .form .column {
        flex-wrap: wrap;
    }
    
}
.form :where(.gender-option, .gender) {
    row-gap: 15px;

}
